* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: auto;
  height: auto;
  background-image: linear-gradient(to right, black, white);
  font-family: "Silkscreen", cursive;
  font-size: 18px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Bungee Inline", cursive;
  font-size: 30px;

}
h1 {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.elapsed-time-text {
  display: flex;
  justify-content: center;
  width: 100vw;


}
h1 {
  margin: auto;
}
span {
  color: white;
}
.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
  width: 700px;
}
.rules {
  color: black;
  border: 1px solid black;
  padding: 10px 10px;
  border-radius: 15px;
}
.rules-page {
  display: none;
  position: fixed;
  right: 0;
  bottom: 1;
  margin-top: 650px;
  margin-right: 100px;
  color: white;
  background-color: rgba(0, 128, 0, 0.647);
  border: 3px solid white;
  width: 400px;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 12px;
}
.rules-page > p {
  margin: 8px 0;
}
h3 {
  color: black;
  font-size: 18px;
}

/* .rules:hover + .rules-page {
    display: flex;
} */
/* .rules div::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; */
/* } */

.reset-game {
  border-radius: 15px;
}

.gameboard-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 500px;
  justify-content: center;
  border: 10px solid rgba(0, 0, 0, 0);
}

.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: auto;
  height: auto;
  place-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: black;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.575);
  grid-gap: 1px;
}
.box:hover {
  opacity: 0.6;
}
.box {
  /* display: flex; */
  justify-content: center;

  align-items: center;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 128, 0);
  border-radius: 2px;
  font-size: 40px;
  text-align: center;
  text-shadow: 3px 5px rgba(0, 0, 0, 0.375);
  user-select: none;
}
.box:hover {
  cursor: pointer;
}

.player-one-container {
  display: flex;
  flex-direction: row;
  width: 412px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.player-one {
  color: black;
  background-color: white;
  padding: 5px 8px;
  border-radius: 10px;
}
#white-disc {
  font-size: 40px;
  padding: 40px;
  background-image: radial-gradient(rgb(255, 255, 255), rgba(52, 51, 51, 0.47));
}
.player-two-container {
  display: flex;
  flex-direction: row;
  width: 412px;
  justify-content: space-between;
  align-items: center;
}
.player-two {
  color: white;
  background-color: black;
  padding: 5px 8px;
  border-radius: 10px;
}
#black-disc {
  font-size: 40px;
  padding: 40px;
  background-image: radial-gradient(rgb(0, 0, 0), rgba(127, 127, 127, 0.845));
}
button:hover {
  opacity: 1;
  cursor: pointer;
}
button {
  font-family: "Bungee Inline", cursive;
  width: 75px;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  opacity: 0.6;
}

.turn {
  margin: 20px 20px;
  text-align: center;
  /* box-shadow: 10px 10px black; */
  width: 412px;
  color: white;
  background-color: black;
  border-radius: 10px;
}
#white-disc {
  display: flex;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  height: 65px;
  width: 65px;
  justify-content: center;
  background-color: white;
}
#black-disc {
  display: flex;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  height: 65px;
  width: 65px;
  justify-content: center;
  color: white;
  background-color: black;
}
.bool-true {
}

footer {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  position: fixed;
  bottom: 0;
}
a {
  display: flex;
  height: 50%;
  margin-right: 20px;
}
.endgame-display {
  display: flex;
  margin-top: 200px;
  height: 200px;
  width: 300px;
  border: 1px solid black;
  background-color: grey;
  position: absolute;
  border-radius: 10px;
  text-align: center;
}
.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.display-text {
  display: flex;
  margin: 20px 0 0 10px;
  font-size: 20px;
}
.new-game {
  display: flex;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  place-items: center;
  justify-content: center;
  font-size: large;
}
